.box{
    width: 960px;
    margin: 0 auto;
    border: 1px dashed #000;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 5px;
    /*Trava a caixa em 960px*/
    box-sizing: border-box;
}
.image{
    text-align: center;
    margin: 0;
    width: 300px;
}
.texto{
        border-left: 1px dashed #000;
        padding: 50px;
        width: 600px;
        box-sizing: border-box;
}
p,ul{
    text-align: justify;
}
.image, .texto{
    display: inline-block;
    vertical-align: middle;
}
a{
    color: rgb(64, 117, 11);
    text-decoration: none;
}
a:hover{
    background-color: #000;
    color: azure;
}
footer{
    text-align: center;
    background: linear-gradient(#000,#ccc);
    padding: 30px;
    color: white;
    width: 960px;
    border-radius: 80px;
    margin: auto;
}